{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaveMyText</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% comment %} <meta ajaxpage="{% url 'open_page_ajax' %}"
    id = "ajax_page"> {% endcomment %}
    
</head>
<body>
    <section class="working">
        <form method="get" id="urlform">
            <div class="create">
                <p class="createown">Enter An Existing Address or create your own</p>
                <div class="url">
                    <p class="starting">SaveMyText.in/</p>
                    <input id="urlInput" type="text" >
                    <div class="myBtn" ><a id="goBtn" <span class="l-1">g</span><span class="l-2">o</span></a></div>
                </div>
            </div>
        </section>
    </form>
    <section class="how">
        <p>
            <center>
            <h1>How it works</h1>
            <b>First the user can make a site by entering the name of the site and hittng the go button or simply typing the name on the url.</b><br>
            
            <b>User flow</b>
            <ol>
            <li>If the site is already taken the user is shown a box to enter the password to decrypt the site.</li>
            
            <li>If the password is correct the user can access the site and update and delete text or pages.</li>
            
            <li>If the password is incorrect there is no way of seeing the data other than brute-forcing the password.</li>
            
            <li>If the site is not taken a fresh site is shown where the user can enter data and save it using a password</li>
            <h2>The data can be accessed and modified anywhere using the same password</h2>
            </ol>
            <br>
        </center>
        </p>
    </section>
    
    <div class="alerthere">
    </div>
    
    
</body>
<script src="{% static 'alert.js' %}"></script>
</html>
