{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=no">
    <title>Save My Text | Editor</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'alert.css' %}">
    <meta id="ajaxpage" pageurl="{% url 'savetext' %}">

    <!-- <script src="https://unpkg.com/petite-vue" defer init></script> -->
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">

    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <meta id="availability" availability="{{available}}">
     {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
			  src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
			  integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aes-js/3.1.2/index.min.js"></script>

    <style>
        .border{
            border: 1px solid black;
        }
        textarea {
            resize: none;
          }
    </style>
    {% comment %} <script src="script.js" defer type="module"></script> {% endcomment %}
</head>

<body class="background overflow-hidden overflow-y-scroll">
        {% csrf_token %}
        <input type="hidden" id="validator" value="{{validator}}"> 

    <nav class="navbar mt-5">
        <ul class="navlist flex flex-row justify-between">
            <li>
            <a href="{%url 'home' %}"><span class="logo block  hover:cursor-pointer mt-10">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" height="70px" width="70px" version="1.1" id="Capa_1" viewBox="0 0 219.151 219.151" xml:space="preserve">

                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.438302"/>
                    
                    <g id="SVGRepo_iconCarrier"> <g> <path d="M109.576,219.151c60.419,0,109.573-49.156,109.573-109.576C219.149,49.156,169.995,0,109.576,0S0.002,49.156,0.002,109.575 C0.002,169.995,49.157,219.151,109.576,219.151z M109.576,15c52.148,0,94.573,42.426,94.574,94.575 c0,52.149-42.425,94.575-94.574,94.576c-52.148-0.001-94.573-42.427-94.573-94.577C15.003,57.427,57.428,15,109.576,15z"/> <path d="M94.861,156.507c2.929,2.928,7.678,2.927,10.606,0c2.93-2.93,2.93-7.678-0.001-10.608l-28.82-28.819l83.457-0.008 c4.142-0.001,7.499-3.358,7.499-7.502c-0.001-4.142-3.358-7.498-7.5-7.498l-83.46,0.008l28.827-28.825 c2.929-2.929,2.929-7.679,0-10.607c-1.465-1.464-3.384-2.197-5.304-2.197c-1.919,0-3.838,0.733-5.303,2.196l-41.629,41.628 c-1.407,1.406-2.197,3.313-2.197,5.303c0.001,1.99,0.791,3.896,2.198,5.305L94.861,156.507z"/> </g> </g>
                    
                    </svg>
                </a>
                </li>


                <li>
                    <p class="font-extrabold text-7xl mt-5 hidden md:block">{{request.path}}</p>
                </li>
            </ul>


            
    </nav>
    <main class="mt-12 md:mt-20 bg-gray-200 w-screen h-200 h-[60rem]">
        <section class="flex" v-scope="{ count: 0 }" v-scope="app({ initialCount: 1 })"
            id="section">
            <div class="grid grid-cols-4 md:grid-cols-10 gap-2 mt-6 tabBtns" id="btn">

            </div>
            <div class="mb-2 w-24 flex justify-center md:justify-evenly  h-12 mt-6 lg:w-96">
                <p class="text-5xl font-extrabold text-black mb hover:cursor-pointer lg:ml-5" id="addpage">+</p>
            </div>
        </section>

        <section id="footer">
            <div class="flex justify-evenly lg:justify-around lg:w-6/12 ">
                <button
                    class="rounded-lg bg-green-300 text-black border border-black px-3 mr-10 h-8 inline-block shadow-xl mt-12 ml-0">
                    <p class="text-sm font-bold" id="savetext">Save</p>
                </button>
                <button
                    class="rounded-lg bg-yellow-200 text-black border border-black px-3 mr-10 h-8 inline-block shadow-xl mt-12 ml-0">
                    <p class="text-sm font-bold" id = "refreshpage">Reload</p>
                </button>
                <button
                    class="rounded-lg bg-sky-600 text-black border border-black px-3 mr-10 h-8 inline-block shadow-xl mt-12 ml-0">
                    <p class="text-sm font-bold"  id="changepassword">Change password</p>
                </button>

                <button
                    class="rounded-lg bg-red-300 text-black border border-black px-3 mr-10 h-8 inline-block shadow-xl mt-12 ml-0">
                    <p class="text-sm font-bold"  id="deletepage">Delete</p>
                </button>
            </div>
            <div class="text">
            {% if available == 'false'%}
            {% for text in textboxes %}
            <textarea class="text-black ml-1 mr-1 h-full w-11/12 text-area hidden" name="" id="" rows="20">{{text}}</textarea>
            {% endfor %}
            {% endif %}
            </div>

        </section>


    </main>
    <div class="alerthere">
    </div>
</body>
<script src="{% static 'mytext.js' %}"></script>
<script src="{% static 'md5.js' %}"></script>
<template id="btn-temp">
    <button class="rounded-lg text-black border border-black px-4 inline-block shadow-xl lg:px-6">
        <p class="text-md font-extrabold">Tab1</p>
    </button> </template>
</html>