#alert1:target{
    visibility: visible;
  }

   
      

  .alert-box input{
    margin: auto;
  display: block;
  }
  .alert-box {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: #fff;
    border-radius: 10px;
    color: #404040;
    min-width: 300px;
    width: 350px;
}


.shake{
      animation: shake 0.2s;

  }
  @keyframes shake {
    0% {
      transform: translateX(-10px);
    }
    25% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-10px);
    }
    75% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }

  .alerthere{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

  .alert-message {
    line-height: 1.4;
    padding: 30px;
    width: 100%;
  }
  .alert-buttons {
    border-top: thin solid #ddd;
    text-align: center;
    width: 100%;
  }
  .alert-buttons a {
    border-right: thin solid #ddd;
    color: #404040;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    width: 49%;
  }
  .alert-buttons a:last-of-type {
    border-right: none;
  }
  .alert-buttons a:hover {
    color: #358cc6;
  }